.topbar{
	background: white;
	border-bottom: 2px solid lightgrey;
}

.topbar ul li{
	list-style: none;
	font-size: 14px;
	color: black;
	display: inline-block;
	margin-right: 20px;
}
.topbar ul li a{
	
	font-size: 14px;
	color: black;
	
}
.topbar ul li a:hover{
	
	text-decoration: none;
	
}
.login{
	background: white;
	border:1px solid lightgrey;
	border-radius: 2px;
	padding-left: 0px;padding-right: 0px;
}
.login-2{
	background: #E8F5FD;
	border: 1px solid #e6ecf0;;
	border-radius: 2px;
	padding:10px 10px 10px 40px;
}
.login-form{
width: 60%;
margin-bottom: 20px;
}
.login-form input[type="submit"]{

    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    white-space: nowrap;

}

.login-2 textarea{

}

/*=================================================*/
.section-1{
	background: #1DA1F2;
	padding-top: 50px;
	padding-bottom: 50px;
}
.section-2{
	padding: 0px 10px 20px 10px;
}
.section-2 img{
	width: 50px;
	height: 50px;
	position: absolute;
	margin-top: -30px;
}
.section-3 h4{
	color: grey;
	font-size: 14px;
}
.section-3 p{
	color: #3dcee5;
	font-size: 14px;
	font-weight: 550;
}
.section-4{
	background: white;
	padding: 10px;
	margin-top: 10px;
}
.section-4 h4{
	font-size: 18px;
	font-weight: bold;
}
.section-4 h5{
	font-size: 16px;
	font-weight: 500;
	color: #3dcee5;
	margin-bottom: 0px;
}
.section-4 p{
	font-size: 14px;
	font-weight: 500;
	line-height: 15px;
}
.section-4 span{
	font-size: 12px;
	font-weight: 500;
	color: grey;
}
.follow-1{
	padding: 10px;
	background: white;
}
.follow-1 h2{
	font-size: 18px;
	font-weight: 600;
}
button.my-btn{
	padding: 5px 15px 5px 15px;
	background: white;
	color: #3dcee5;
	border: 1px solid #3dcee5;
	border-radius: 20px;
}
.follow-2{
	padding: 10px;
	background: white;
	margin-top: 10px;
}
.follow-2 p{
	color: grey;
	font-size: 14px;
	line-height: 18px;
}
.follow-3{
	padding: 20px;
	background: white;
	margin-top: 1px;
}
@media(max-width: 769px){
	.mob-first{
		display: none;
	}
}
hr{
	margin-top:10px;
}